<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/j2ee"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4"
>
    <filter>
        <filter-name>main</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>nu.mine.mosher.graph.datawebapp.GraphDataWebApp</param-value>
        </init-param>
<!--        <init-param>-->
<!--            <param-name>packages</param-name>-->
<!--            <param-value>com.example.model</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>stylesheet</param-name>-->
<!--            <param-value>https://mosher.mine.nu/uniwebfonts/test/test.css</param-value>-->
<!--        </init-param>-->
    </filter>

    <filter-mapping>
        <filter-name>main</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
