<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/j2ee"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4"
>
    <filter>
        <filter-name>GraphDataWebApp</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>

        <init-param>
            <param-name>applicationClassName</param-name>
            <!-- GraphDataWebApp class (required) -->
            <!-- nu.mine.mosher.graph.datawebapp.GraphDataWebApp -->
            <param-value>nu.mine.mosher.graph.datawebapp.GraphDataWebApp</param-value>
        </init-param>
        <init-param>
            <param-name>packages</param-name>
            <!-- Comma-separated list of packages containing OGM entity classes (required) -->
            <!-- A proof-of-concept demonstration package is included with Graph-Data-web: -->
            <!-- nu.mine.mosher.graph.sample.imdb -->
            <param-value>nu.mine.mosher.graph.sample.imdb</param-value>
        </init-param>
        <init-param>
            <param-name>index-properties</param-name>
            <!-- Comma-separated list of property names (within nodes or relationships) -->
            <!-- that should be indexed for searching. -->
            <!-- Default: name -->
            <param-value>primaryTitle,primaryName,job</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <!-- Title of web pages (optional) -->
            <param-value>My Graph Data</param-value>
        </init-param>
        <init-param>
            <param-name>stylesheet</param-name>
            <!-- URL of stylesheet (optional) -->
            <param-value>https://mosher.mine.nu/uniwebfonts/test/test.css</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GraphDataWebApp</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
